# Configurações de IA do Doc-as-Code
OLLAMA_BASE_URL=http://localhost:11434
MODEL_NAME=llama3.1
EMBEDDING_MODEL=nomic-embed-text
LLM_TEMPERATURE=0.0

# Configurações do Projeto
DOCS_FOLDER=docs
SOURCE_FOLDER=
TARGET_EXTENSIONS=.py
